#news {
    font-size: 30px;
    border: 5px rgb(75, 137, 231) solid; 
    box-shadow: #008cff 0px 0px 10px; 
    border-radius: 30px; 
    padding: 10px;
    height: 50vh;
    overflow-x: scroll;
    color: greenyellow;
    font-weight: bold;
    text-align: center;
    justify-content: space-between;
}

#market {
    font-size: 30px;
    border: 5px rgb(75, 137, 231) solid; 
    box-shadow: rgb(0, 140, 255) 0px 0px 10px;
    border-radius: 30px; 
    height: 50vh;
    width: 150vh;
    overflow-x: scroll;
    min-height: 200px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#Watchlist {
    font-size: 30px;
    border: 5px rgb(75, 137, 231) solid; 
    box-shadow: rgb(0, 140, 255) 0px 0px 10px;
    height: 90vh;
    border-radius: 15px; 
}

.section {
    display:flex; 
    border-radius: 30px; 
    padding: 20px;
    height: 100%;
    text-align: center;
}

.section {
    background-color: grey;
}

body {
    background-color: grey;
}

.columns {
    color: greenyellow;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    background-color: grey;
    
}

.title {
    color: greenyellow;
    font-size: 40px;
    font-weight: bold;
}

.subtitle {
    color: greenyellow;
    font-size: 20px;
}

footer {
    background-color: grey;
}

.column {
    margin-left: 10px;
    margin-right: 10px;
}

aside {
    width: 15%;
}

.navbar {
    margin-bottom: 25px;
    background-color: white;
}

li {
    list-style: none;
}

#market img {
    height: 10vh;
    width: 10vh;
}
.card {
    margin-bottom: 5vh;
}

#news {
    display: inline-flex;
    flex-wrap: wrap;
    }
    #news .card { 
        font-size: 15px;
        width: 25vh; 
        height: 35vh; 
        border-radius: 5px; 
        border: rgb(93, 214, 245) solid;
        overflow-x: scroll; 
        box-shadow: 4px 4px;
        border-radius: 1rem;
    }
    #news .column {
        justify-content: space-between;
        width: 100%
    }

button.data-card{
    width: 19vh;
    border-radius: 1rem;
    cursor: grab;
    box-shadow: 4px 4px;
    }

span {
    color:rgb(218, 18, 211)
}

footer {
    text-align: center;
    font-size: 30px;
}

